body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
